---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<h1>Server Action</h1>
	<button>Get greeting</button>
</Layout>

<script>
import { actions } from 'astro:actions';

const button = document.querySelector('button');
button?.addEventListener('click', async () => {
  const { data, error } = await actions.getGreeting({ name: "Houston" });
  if (!error) alert(data);
});
</script>